.post {
    padding: 55px;
    background-color: lavender;
    border: 1px solid Thistle;
}

.Name {
    font-size: larger;
    color: teal;
}

.postText {
    font-size: large;
    color: black;
}

.image {
    margin: 30px;
    width: 500px;
    height: 300px;
}

.URL {
    font-size: larger;
    text-decoration: underline;
    color: slateblue;
}

.commentTB {
    height: 45px;
    width: 200px;
    margin: 10px;
}

.commentBtn {
    height: 50px;
    width: 100px;
    background-color: steelblue;
    color: white;
    font-size: large;
}

.commentLnk {
    height: 50px;
    width: 100px;
    color: red;
    font-size: medium;
    text-decoration: underline;
    margin-right: 50px;
}

.commentDiv {
    border: 1px solid darkcyan;
    padding: 10px;
    background-color: lightyellow;
}

.commentName {
    font-size: large;
    color: steelblue;
}

.commentDate {
    font-size: medium;
    color: steelblue;
    float: right;
}

.commentText {
    font-size: large;
}

.otherMessage {
    margin: 5px;
    margin-left: 50%;
    background-color: aliceblue;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 7px;
    font-size: large;
    padding: 15px;
    width: 400px;
    display: block;
    max-width: 400px;
    word-wrap: break-word;
}

.myMessage {
    margin-right: 50%;
    background-color: lightgray;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 7px;
    font-size: large;
    padding: 15px;
    display: block;
    max-width: 400px;
    word-wrap: break-word;
}

.link {
    text-decoration: none;
    color: darkcyan;
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder {
    color: white;
    font-size: large;
}

.trans {
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#divEditComment {
    position: fixed;
    padding-left: 220px;
    padding-right: 330px;
    bottom: 0;
    background-color: bisque;
    border: 1px solid Thistle;
}
